﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erorr</title>
</head>
<body>
<div>
    <h1> Yetkiniz yok</h1>
</div>
</body>
</html>
