﻿@model Eczane.WebUI.Models.RegisterDto
@{
    Layout = "~/Views/Shared/LayoutLogin/_LayoutPageLogin.cshtml";
}
@*@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div>
            @Html.TextBoxFor(m => m.UserName)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Password)
        </div>
    </div>
    <input type="submit" value="Insert" name='button' />
}*@
<style>
    body {
        padding-top: 90px;
    }
    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }
    .panel-login>.panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align:center;
    }
    .panel-login>.panel-heading a{
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login>.panel-heading a.active{
        color: #029f5b;
        font-size: 18px;
    }
    .panel-login>.panel-heading hr{
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    }
    .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    .panel-login input:hover,
    .panel-login input:focus {
        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }
    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }
    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }
    .forgot-password {
        text-decoration: underline;
        color: #888;
    }
    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

    .btn-register {
        background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }
    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Giriş</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Kayıt</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action='@Url.Action("Login","Account")' method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email,new {@class= "form-control", @placeholder = "E-Posta", @tabindex=1 })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>                             
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password,new {@class= "form-control", @placeholder = "Şifre", @tabindex=2 })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>                               
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Beni Hatırla</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Giriş">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="" tabindex="5" class="forgot-password">Şifremi Unutum</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" action="@Url.Action("Register","Account")" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email,new {@class= "form-control", @placeholder = "E-Posta", @tabindex=1 })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password,new {@class= "form-control", @placeholder = "Şifre", @tabindex=2 })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div class="form-group" hidden="hidden" id="GINNo">
                                    @Html.TextBoxFor(m => m.GINNo, new {@class= "form-control", @placeholder = "GIN numarası", @tabindex=2 })
                                    @Html.ValidationMessageFor(model => model.GINNo)
                                </div>
                                <div class="form-group  text-center">                                 
                                        <select class="dropdown form-control" id="EczaciMiKalfaMi"  name="EczaciMiKalfaMi"  style="text-align: center">
                                            <option selected="selected" value="-1">Grup seçiniz</option> 
                                            <option id="Eczaci" value="1">Eczaci</option>
                                            <option id="Kalfa" value="0">Kalfa Eczaci</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Kayıt Ol">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
    $("#EczaciMiKalfaMi").on("change",
        function() {
            if ($("#EczaciMiKalfaMi").val() == 1) {
                $("#GINNo").show();
            } else {
                $("#GINNo").hide();
            }
        });
</script>