﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1><strong>@ViewData["username"]</strong></h1>
    <h1><strong>@ViewData["userid"]</strong></h1>
</div>
</body>
</html>
