﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model Eczane.BL.Entities.LoginEnt.KalfaEczaci
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Kalfa Eczaci <small>Kalfa Eczaci Bilgileri</small>
        </h1>
    </div>
    <div class="row" id="EkleForm" hidden="hidden" tabindex="1">
        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                Rol Duzenleme
            </div>
            @*  <form role="form" class="panel panel-body" runat="Server"  enctype = "multipart/form-data" method="post" action="@Url.Action("KisiBilgileriKaydet","KisiBilgileri",new {area="User"})">    *@
            <form id="KisiBilgiileriForm" role="form" class="panel panel-body">
                @*<label>Id :</label>*@
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <label class=""> Mezun Olduğu Fakilte Adi:</label>
                    @Html.TextBoxFor(m => m.MezunOlduguFakulteAdi, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Mezun Olduğu Tarih : </label>
                    @Html.TextBoxFor(m => m.MezunOlduguTarih, new { @class = "form-control datepicker",@data_format = "dd/MM/yyyy"  })
                </div>
                <div class="form-group">
                    <label>Foto Yukle</label>
                    <input type="file" runat="server" id="file" name="file" multiple="multiple">
                </div>
                <div style="text-align: right">
                    <button type="button" id="Kaydet" class="btn btn-primary ">Kaydet</button>
                    <button class="btn btn-success " id="Guncelle">Güncelle</button>
                    <button type="reset" class="btn btn-danger">Temizle</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="Form">
        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                Kişi Bilgileri
            </div>
            <form role="form" class="panel panel-body">
                  
                <div class="col-md-9">
                    <div class="form-group">
                        <label>İsim :</label>
                        @Html.DisplayFor(m => m.Kisi.Ad)
                    </div>
                    <div class="form-group">
                        <label>Soy İsim : </label>
                        @Html.DisplayFor(m => m.Kisi.SoyAd)
                    </div>
                    <div class="form-group">
                        <label>Adres :</label>
                        @Html.DisplayFor(m => m.Kisi.Adres)
                    </div>
                    <div class="form-group ">
                        <label>MezunOlduğu FakulteAdi</label>
                        @Html.DisplayFor(m => m.MezunOlduguFakulteAdi)
                    </div>
                    <div class="form-group date">
                        <label>MezunOlduğu Tarih :</label>
                        @Html.DisplayFor(m => m.MezunOlduguTarih)
                    </div>
                    <div class="form-group">
                        <label>Sistem Puanı :</label>
                        @Html.DisplayFor(m => m.SistemPuan)
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Rol Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dosyalar
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                    <tr>
                                        <th>Dosya Adı</th>
                                        <th style="text-align: center">işlem</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bodytable">
                                    @if (Model==null)
                                    {
                                        <strong>Veri Yok</strong>
                                    }
                                    else
                                    {
                                        foreach (var obj in Model.User.Dosyalar)
                                        {
                                            <tr class="odd gradeX">
                                                <td>
                                                   @obj.DosyaAdi
                                                </td>
                                                <td style="text-align: center">
                                                    @Html.ActionLink("Download", "Download", new { Id=obj.Id})
                                                    @*<button onclick="Indir(@obj.Id)" type="button" class="btn btn-info">İndir</button>
                                                    <a href="@obj.DosyaYolu"> İndirlen</a>*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Rol Tables -->
                </div>
                @*<div style="text-align: right">
                        <button type="button" id="FormGuncelle" class="btn btn-primary ">Guncelle</button>
                        <button type="reset" class="btn btn-danger">Temizle</button>
                    </div>*@
            </form>
        </div>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button @*style="display: none"*@ class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Bilgi Mesajı</h4>
            </div>
            <div class="modal-body">
                <strong id="modalMesaj">

                </strong>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Çıkış</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>
<script>
    var sonuc;
    function Indir(Id) {
        console.log(Id);
        $.ajax({
            url: '@Url.Action("Download","KalfaEczaciIslem",new {Area="KalfaEczaci"})',
            type: 'POST',
            dataType: 'json',
            data: { Id: Id },
            success: function(data) {
                console.log(data);
            }
        });
    }
    $("#Ekle").on("click",
        function () {          
            $("#EkleForm").show();
            $('#EkleForm').focus();
        });
    $("#Iptal").on("click",
        function() {
            $("#EkleForm").hide();
        });
    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy'
    });
    $("#Guncelle").on("click", function() {
        var form = $('form')[0];
        var fd = new FormData(form);       
        $.ajax({
            url: '@Url.Action("Guncelle","KalfaEczaciIslem",new {Area="KalfaEczaci"})',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: fd ,
            success: function (data) {
                $("#modalMesaj").text(data);
                $("#myModal").modal("show");
                sonuc = data;
                location.reload();
            }               
        });
    });
    $("#Kaydet").on('click',
        function () {
            var form = $('form')[0];
            var fd = new FormData(form);
            console.log(fd);
            $.ajax({
                url: '@Url.Action("Ekle","KalfaEczaciIslem",new {Area="KalfaEczaci"})',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: fd ,
                success: function (data) {
                    sonuc = data;
                    $("#modalMesaj").text(data);
                    $("#myModal").modal("show");
                }               
            });
        });
    $("#close").on("click",function() {
        if (sonuc = "Kayıt Başarılı") {
            location.reload();
        }
    });
</script>