﻿
@{
    ViewBag.Title = "EczaciIndex";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model List<Eczane.WebApi.Models.KalfaDTO>
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Eczaci <small>Kalfa Eczaci Arama </small>
        </h1>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-12 col-xs-12" onclick='@Url.Action("KalfaBigileri","EczaciIslem",new{id=@item.Id})' id=@item.Id>
            <div class="panel panel-primary text-center no-boder">
                <div class="panel-body">
                    <img src=@item.Kisi.FotoUrl />
                    <h3>@item.Kisi.Ad  @item.Kisi.SoyAd</h3>
                </div>
                <div class="panel-footer">
                 Puanı    @item.SistemPuan
                </div>
            </div>
        </div>
    }
</div>
<script>
    
</script>