﻿
@{
    ViewBag.Title = "EczaciBilgileri";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model Eczane.BL.Entities.LoginEnt.Eczaci
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Bilgiler <small>Kişisel Bilgiler</small>
        </h1>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button @*style="display: none"*@ class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>
<div class="row" id="KisiBilgileriEkleForm" hidden="hidden">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Rol Duzenleme
        </div>
        @*  <form role="form" class="panel panel-body" runat="Server"  enctype = "multipart/form-data" method="post" action="@Url.Action("KisiBilgileriKaydet","KisiBilgileri",new {area="User"})">    *@
        <form id="EczaciBilgiileriForm" role="form" class="panel panel-body">        
            @*<label>Id :</label>*@
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="">GIN Numarası :</label>
                @Html.TextBoxFor(m => m.GIN_Numarasi, new {@class = "form-control"})
            </div>
                  
            @*<div class="form-group">
                <label>Foto Yukle</label>
                <input type="file" runat="server" id="file" name="file" multiple="multiple">
            </div>*@
            <div style="text-align: right">
                <button type="button" id="Kaydet" class="btn btn-primary ">Kaydet</button>
                <button class="btn btn-success " type="button" id="Guncelle">Güncelle</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="EczaciBilgileri" >
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Kişi Bilgileri
        </div>
        <form role="form" class="panel panel-body">
            <div class="col-md-9">               
                <div class="form-group">
                    <label>İsim :</label>
                    @Html.DisplayFor(m => m.User.Kisi.Ad)
                </div>
                <div class="form-group">
                    <label>Soy İsim :</label>
                    @Html.DisplayFor(m => m.User.Kisi.SoyAd)
                </div>
                <div class="form-group">
                    <label>GIN_Numarasi :</label>
                    @Html.DisplayFor(m => m.GIN_Numarasi)
                </div>
                <div class="form-group">
                    <label>Kalfa Eczacı İsteleri :</label>
                   
                </div>            
            </div>
        </form>
    </div>
</div>
<script>
    $("#Ekle").on("click", function() {
        $("#KisiBilgileriEkleForm").show();
    });
    $("#Iptal").on("click", function() {
        $("#KisiBilgileriEkleForm").hide();
    });
    $("#Guncelle").on("click", function() {
        var form = $('form')[0];
        var fd = new FormData(form);       
        $.ajax({
            url: '@Url.Action("GuncelleEczaciBilgileri","EczaciIslem",new {Area="Eczaci"})',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: fd ,
            success: function (data) {
                console.log(data);
                location.reload();
            }               
        });
    });
    $("#Kaydet").on('click',
        function () {
            var form = $('form')[0];
            var fd = new FormData(form);       
            $.ajax({
                url: '@Url.Action("EczaciBilgileri","EczaciIslem",new {Area="Eczaci"})',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: fd ,
                success: function (data) {
                    location.reload();
                    console.log(data);
                }               
            });
        });
</script>