﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model List<Eczane.BL.Entities.LoginEnt.KalfaEczaci>
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Eczaci <small>Kalfa Eczaci Arama </small>
        </h1>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ara</button>
        <button @*style="display: none"*@ class="btn btn-warning" id="Temizle"><i class="fa fa-plus "></i>  Temizle</button>
    </div>
    <div class="row col-md-12">
        <div class="panel-body">
            <div class="table-responsive">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">Adı</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">SoyAdı</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">İl</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">İlçe</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">Bilgiler</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">İstek İşlemi</th>
                        </tr>
                        </thead>
                        <tbody>                       
                        @foreach (var item in Model)
                        {
                            if (item.Kisi==null)
                            {
                               
                            }
                            else
                            {
                                <tr>
                                    <td>@item.Kisi.Ad</td>
                                    <td>@item.Kisi.SoyAd</td>
                                    <td>@item.Kisi.IlId</td>
                                    <td>@item.Kisi.IlceId</td>
                                    <td onclick="Bilgi(@item.Id)"><i class="fa fa-info"></i> Bilgi</td>
                                    <td><i class="fa fa-info" onclick="IstekYap(@item.Id)"></i></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Kalfa Bilgisi</h4>
            </div>
            <div class="modal-body">
                <strong id="modalMesaj">
                </strong>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>İsim :</label>
                        @Html.TextBox("Ad","",new {@style= "margin-left: 5%;" })
                    </div>
                    <div class="form-group">
                        <label>Soy İsim : </label>
                        @Html.TextBox("SoyAd","", new { @style = "margin-left: 0%;" })
                    </div>
                    <div class="form-group">
                        <label>Adres :</label>
                        @Html.TextBox("Adres", "",new { @style = "margin-left: 3%;" })
                    </div>
                    <div class="form-group">
                        <label>Mezun Oldugu Fakulte Adi :</label>
                        @Html.TextBox("MezunOlduguFakulteAdi","", new { @style = "margin-left: 5%;" })
                    </div>
                    <div class="form-group">
                        <label>Mezun Oldugu Tarih :</label>
                        @Html.TextBox("MezunOlduguTarih","", new { @style = "margin-left: 12%;" })
                    </div>
                    <div class="form-group">
                        <label>Sistem Puanı</label>
                        @Html.TextBox("SistemPuan", "",new { @style = "margin-left: 22%;" })
                    </div>                 
                    <div class="form-group">
                        <label>Dosyalar</label>
                        <div class="row col-md-12 form-group">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="DosyaTable" class="dataTables_wrapper form-inline" role="grid">
                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">Dosya Adı</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 163px;">Dosya İndir</th>
                                            </tr>
                                            </thead>
                                            <tbody>                       
                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModalMesaj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabelMesaj">Bilgi Mesajı</h4>
            </div>
            <div class="modal-body">
                <strong id="modalMesajMesaj">

                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function IstekYap(kalfaId) {
        $.ajax({
            url: '@Url.Action("IstekYap","EczaciIslem",new {Area="Eczaci"})',
            data: { kalfaId: kalfaId},
            success: function (data) {
                $("#modalMesmodalMesajMesajajMesaj").text(data);
                $("#myMmyModalMesajodal").modal("show");
            },
            type: 'GET',
            dataType: 'json'
        });
    }
    function Bilgi(id) {
        $.ajax({
            url: '@Url.Action("GetKalfaBilgileri","EczaciIslem",new {Area="Eczaci"})',
            data: { Id: id },
            success: function (data) {
                console.log(data);
                console.log(data.Kisi);
                $("#myModal").modal("show");
                $("#Ad").val(data.Kisi.Ad);
                $("#SoyAd").val(data.Kisi.SoyAd);
                $("#SistemPuan").val(data.Kalfa.SistemPuan);
                $("#MezunOlduguTarih").val(data.Kalfa.MezunOlduguTarih);
                $("#MezunOlduguFakulteAdi").val(data.Kalfa.MezunOlduguFakulteAdi);
                $("#Adres").val(data.Kisi.Adres);
                $.each(data.Dosyalar,
                    function(i, item) {
                        $("#DosyaTable tbody").append(
                            "<tr>" +
                            "<td>" +
                            item.DosyaAdi +
                            "</td>" +
                            "<td>" + "<a href=/KalfaEczaci/KalfaEczaciIslem/Download/" + item.Id +">İndir</a>"+
                           "</td>" +
                            "</tr>"
                        );
                    });
            },
            type: 'GET',
            dataType: 'json'
        });
    }
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>