﻿
@{
    ViewBag.Title = "KalfaBigileri";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model Eczane.WebApi.Models.KalfaDTO
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Kalfa Eczaci <small>Kalfa Eczaci Bilgileri</small>
        </h1>
    </div>
    <div class="row" id="Form">
        <div class="col-md-12 panel panel-default">
            <div class="panel-heading">
                Kişi Bilgileri
            </div>
            <form role="form" class="panel panel-body">
                  
                <div class="col-md-9">
                    <div class="form-group">
                        <label>İsim :</label>
                        @Html.DisplayFor(m => m.Kisi.Ad)
                    </div>
                    <div class="form-group">
                        <label>Soy İsim : </label>
                        @Html.DisplayFor(m => m.Kisi.SoyAd)
                    </div>
                    <div class="form-group">
                        <label>Adres :</label>
                        @Html.DisplayFor(m => m.Kisi.Adres)
                    </div>
                    <div class="form-group ">
                        <label>MezunOlduğu FakulteAdi</label>
                        @Html.DisplayFor(m => m.MezunOlduguFakulteAdi)
                    </div>
                    <div class="form-group date">
                        <label>MezunOlduğu Tarih :</label>
                        @Html.DisplayFor(m => m.MezunOlduguTarih)
                    </div>
                    <div class="form-group">
                        <label>Sistem Puanı :</label>
                        @Html.DisplayFor(m => m.SistemPuan)
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Rol Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dosyalar
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                    <tr>
                                        <th>Dosya Adı</th>
                                        <th style="text-align: center">işlem</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bodytable">
                                    @if (Model==null)
                                    {
                                        <strong>Veri Yok</strong>
                                    }
                                    else
                                    {
                                        foreach (var obj in Model.User.Dosyalar)
                                        {
                                            <tr class="odd gradeX">
                                                <td>
                                                    @obj.DosyaAdi
                                                </td>
                                                <td style="text-align: center">
                                                    @Html.ActionLink("Download", "Download","KalfaEczaciIslem",new{area="KalfaEczaci"}, new { Id=obj.Id})
                                                    @*<button onclick="Indir(@obj.Id)" type="button" class="btn btn-info">İndir</button>
                                                    <a href="@obj.DosyaYolu"> İndirlen</a>*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Rol Tables -->
                </div>
                @*<div style="text-align: right">
                        <button type="button" id="FormGuncelle" class="btn btn-primary ">Guncelle</button>
                        <button type="reset" class="btn btn-danger">Temizle</button>
                    </div>*@
            </form>
        </div>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button @*style="display: none"*@ class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>

