﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model Eczane.BL.Entities.LoginEnt.KisiBilgiler
<style>
    /*body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    }*/
    /**
 * Profile image component
 */
    .profile-header-container{
        margin: 0 auto;
        text-align: center;
    }

    .profile-header-img {
        padding: 54px;
    }

    .profile-header-img > img.img-circle {
        width: 120px;
        height: 120px;
        border: 2px solid #51D2B7;
    }

    .profile-header {
        margin-top: 43px;
    }

    /**
 * Ranking component
 */
    .rank-label-container {
        margin-top: -19px;
        /* z-index: 1000; */
        text-align: center;
    }

    .label.label-default.rank-label {
        background-color: rgb(81, 210, 183);
        padding: 5px 10px 5px 10px;
        border-radius: 27px;
    }
    .user {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .one {
        background-image: url('http://placehold.it/400x200');
    }
</style>
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Bilgiler <small>Kişisel Bilgiler</small>
        </h1>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button @*style="display: none"*@ class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>
<div class="row" id="KisiBilgileriEkleForm" hidden="hidden">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Rol Duzenleme
        </div>
      @*  <form role="form" class="panel panel-body" runat="Server"  enctype = "multipart/form-data" method="post" action="@Url.Action("KisiBilgileriKaydet","KisiBilgileri",new {area="User"})">    *@
        <form id="KisiBilgiileriForm" role="form" class="panel panel-body">        
                @*<label>Id :</label>*@
                @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label class="">İsim :</label>
                @Html.TextBoxFor(m => m.Ad, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Soy İsim : </label>
                @Html.TextBoxFor(m => m.SoyAd, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Adres :</label>
                @Html.TextBoxFor(m => m.Adres, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>İl :</label>
                @Html.TextBoxFor(m => m.IlId, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>İlçe :</label>
                @Html.TextBoxFor(m => m.IlceId, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Foto Yukle</label>
                <input type="file" runat="server" id="file" name="file" multiple="multiple">
            </div>
            <div style="text-align: right">
                <button type="button" id="Kaydet" class="btn btn-primary ">Kaydet</button>
                <button type="button" class="btn btn-success " id="Guncelle">Güncelle</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="KisiBilgiileriForm" >
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Kişi Bilgileri
        </div>
        <form role="form" class="panel panel-body">
            <div class="col-md-3">
                @if (@Model==null||@Model.FotoUrl == null)
                {
                    <div class="user one">
                    </div>
                }
                else
                {
                    <div class="user">

                        <img class="" id="FotoUrl" src="@Html.DisplayFor(m => m.FotoUrl)"/>
                    </div>
                }
              
                @*     <img class="" src="@Html.DisplayFor(m => m.FotoUrl)"/>*@
            </div>
            <div class="col-md-9">               
                <div class="form-group">
                    <label>İsim :</label>
                    @Html.DisplayFor(m => m.Ad)
                </div>
                <div class="form-group">
                    <label>Soy İsim : </label>
                    @Html.DisplayFor(m => m.SoyAd)
                </div>
                <div class="form-group">
                    <label>Adres :</label>
                    @Html.DisplayFor(m => m.Adres)
                </div>
                <div class="form-group">
                    <label>İl :</label>
                    @Html.DisplayFor(m => m.IlId)
                </div>
                <div class="form-group">
                    <label>İlçe :</label>
                    @Html.DisplayFor(m => m.IlceId)
                </div>
            </div>
            
         
            @*<div style="text-align: right">
                <button type="button" id="FormGuncelle" class="btn btn-primary ">Guncelle</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>*@
        </form>
    </div>
</div>
<script>
    $("#Ekle").on("click", function() {
        $("#KisiBilgileriEkleForm").show();
    });
    $("#Iptal").on("click", function() {
        $("#KisiBilgileriEkleForm").hide();
    });
    $("#Guncelle").on("click", function() {
        var form = $('form')[0];
        var fd = new FormData(form);       
        var file = document.getElementById("file").files[0];
        console.log(fd);
        $.ajax({
            url: '@Url.Action("Guncelle","KisiBilgileri",new {Area="User"})',
            type: 'POST',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: fd ,
            //data: {
            //    Ad: $("#Ad").val(),
            //    SoyAd: $("#SoyAd").val(),
            //    Adres: $("#Adres").val(),
            //    IlId: $("#IlId").val(),
            //    IlceId: $("#IlceId").val()
            //},
            success: function (obj) {
                for (var key in obj) {
                        console.log(' name=' + key + ' value=' + obj[key]);
                        $("#" + key).val(obj[key]);

                        // do some more stuff with obj[key]
                    }
            }               
        });
    });
    $("#Kaydet").on('click',
        function () {
            var form = $('form')[0];
            var fd = new FormData(form);       
            var file = document.getElementById("file").files[0];
            console.log(fd);
            $.ajax({
                url: '@Url.Action("KisiBilgileriKaydet","KisiBilgileri",new {Area="User"})',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: fd ,
                //data: {
                //    Ad: $("#Ad").val(),
                //    SoyAd: $("#SoyAd").val(),
                //    Adres: $("#Adres").val(),
                //    IlId: $("#IlId").val(),
                //    IlceId: $("#IlceId").val()
                //},
                success: function (data) {

                    console.log(data);
                }               
            });
        });
    function FileUpload() {
        var file = null;
        if (document.getElementById("file").files.length > 0) {
            file = document.getElementById("file").files[0];

            console.log(file);
        }
        return file;
    }
</script>
