﻿@using Eczane.BL.Entities
@model List<Eczane.BL.Entities.LoginEnt.Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@*<link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />*@
@*<script src="~/assets/js/jquery.metisMenu.js"></script>*@
<!-- Morris Chart Js -->
@*<script src="~/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="~/assets/js/morris/morris.js"></script>*@
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Rol isimleri <small>Roller</small>
        </h1>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button style="display: none" class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>
<div class="row" id="duzenlemeForm" hidden="hidden">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Rol Duzenleme
        </div>
        <form role="form" class="panel panel-body">
            <div class="form-group">
                <label>Rol Id</label>
                <input id="roleId" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label>Rol Ad</label>
                @Html.ValidationMessage("Data is not invalid")
                <input id="roleAd" class="form-control">
            </div>
            <div style="text-align: right">
                <button type="button" id="FormGuncelle" class="btn btn-primary ">Guncelle</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="EkleDiv" hidden="hidden">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Rol Ekleme
        </div>
        <form role="form" class="panel panel-body">
            <div class="form-group">
                <label>Rol Ad</label>
                <input id="Name" class="form-control" placeholder="Role adını giriniz">
            </div>
            <div style="text-align: right">
                <button type="button" id="RolEkleBtn" class="btn btn-primary ">Kaydet</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Rol Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Rol Tablosu
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th style="text-align: center">işlem</th>
                            </tr>
                        </thead>
                        <tbody id="bodytable">
                            @if (Model.Count == 0)
                            {
                                <strong>Veri Yok</strong>
                            }
                            else
                            {
                                foreach (var obj in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @obj.Id
                                        </td>
                                        <td>
                                            @obj.Name
                                        </td>
                                        <td style="text-align: center">
                                            <button onclick="Duzenle(@obj.Id)" type="submit" class="btn btn-primary">Güncelle</button>
                                            <button onclick="Sil(@obj.Id)" type="submit" class="btn btn-info">Sil</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Rol Tables -->
    </div>
</div>   
<script>
    $("#Ekle").on("click", function () {
        $("#EkleDiv").show();
        $("#Iptal").show();
    });
    $("#Iptal").on("click",
        function() {
            $("#EkleDiv").hide();
            $("#duzenlemeForm").hide();
            $("#Iptal").hide();
        });
    function Duzenle(id) {
        console.log(id);
        $("#duzenlemeForm").show();
        $("#Iptal").show();
        $.ajax({
            url: '@Url.Action("GetRole","Rol_Islem",new {Area="Admin"})',
            data: { Id: id },
            success: function (data) {
                console.log(data);
                $('#roleId').val(data.Id);
                $('#roleAd').val(data.Name);
            },
            type: 'GET',
            dataType: 'json'
        });
    }
        $("#RolEkleBtn").on("click",function () {
                var dto = {};
                //dto.Id = $("#roleId").val();
                dto.Name = $("#Name").val();
                $.ajax({
                    url: '@Url.Action("RoleEkle","Rol_Islem",new {Area="Admin"})',
                    data: dto,
                    success: function (data) {
                        console.log(data);
                        $.ajax({
                            url: '@Url.Action("GetAllRole","Rol_Islem",new {Area="Admin"})',
                            success: function (data) {
                                GetData();
                            },
                            type: 'GET',
                            dataType: 'json'
                        });
                    },
                    type: 'POST',
                    dataType: 'json'
                });
            });
        $("#FormGuncelle").on("click",
                function () {
                    var dto = {};
                    dto.Id = $("#roleId").val();
                    $.ajax({
                        url: '@Url.Action("RolDuzenle","Rol_Islem",new {Area="Admin"})',
                        data: dto,
                        success: function (data) {
                            console.log(data);
                            GetData();
                        },
                        type: 'POST',
                        dataType: 'json'
                    });
                });
    function Sil(id) {
        $.ajax({
            url: '@Url.Action("DeleteRole","Rol_Islem",new {Area="Admin"})',
            data: {id:id},
            success: function (data) {
                GetData();
                console.log(data);
            },
            type: 'GET',
            dataType: 'json'
        });
        }
    function GetData() {
        $.ajax({
            url: '@Url.Action("GetAllRole","Rol_Islem",new {Area="Admin"})',
            success: function (data) {
                var table = $('#dataTables').DataTable();
                table.destroy();
                $("#bodytable").html("");
                $.each(data,
                    function(key, value) {
                        $("#bodytable").append("<tr><td class='text-center'>" +
                            value.Id +
                            "</td>" +
                            "<td>" +
                            value.Name +
                            "</td>" +
                            "<td style='text-align: center'><button onclick='Duzenle(" +
                            value.Id +
                            ")' type='submit' class='btn btn-primary'>Güncelle</button><button onclick='Sil(" +
                            value.Id +
                            ")' type='submit' class='btn btn-info'>Sil</button></td>");
                    });
            }
                });
    }
</script>