﻿@using Eczane.BL.Entities

@{
    ViewBag.Title = "KullaniciyaRolAta";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/assets/js/select2-4.0.4/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/assets/js/select2-4.0.4/dist/js/select2.js"></script>
<script src="~/assets/js/select2-4.0.4/dist/js/select2.min.js"></script>
<div class="row">
    <div class="col-md-6">
        <select style="width: 100%" class="" id="KullaniciAdi" name="state">
            @{
                var kisi = ViewData["Kullanicilar"] as List<LoginEnt.User>;
                if (kisi.Count == 0)
                {
                    <option>Kisiler Yok..........</option>
                }
                else
                {
                    <option value=0>İsim Seçiniz</option>
                    foreach (var item in @ViewData["Kullanicilar"] as List<LoginEnt.User>)
                    {
                        <option value="@item.Id">@item.Kisi.Ad</option>
                    }
                }
            }
        </select>
    </div>
    <div class="col-md-6">
        <select style="width: 100%" class="" id="Rol" name="state">
            <option value="0" selected="selected">Rol Seçiniz</option>
            @foreach (var item in @ViewData["Roller"] as List<LoginEnt.Role>)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" style="margin-top: 2%">
    <div class="col-md-12">
        <div style="text-align: center">
            <button type="button" id="Kaydet" class="btn btn-primary ">Kaydet</button>
            <button type="reset" class="btn btn-danger">Temizle</button>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Bilgi Mesajı</h4>
            </div>
            <div class="modal-body">
                <strong id="modalMesaj">

                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').select2();
    });
    $("#Kaydet").on("click",
        function() {
            $.ajax({
                url: '@Url.Action("KullaniciyaRoleAtaKaydet","Rol_Islem",new {Area="Admin"})',
                data: {
                    userId: $("#KullaniciAdi").val(),
                    roleId: $("#Rol").val()
                },
                success: function (data) {
                    $("#modalMesaj").text(data);
                    $("#myModal").modal("show");
                    $("#KullaniciAdi").val(0).change();
                    $("#Rol").val(0).change();
                },
                type: 'GET',
                dataType: 'json'
            });
        });
</script>
