﻿
@{
    ViewBag.Title = "RolYetkiAtama";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">
            Rol İşlemleri <small>Role Yetki Atama</small>
        </h1>
    </div>
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-primary" id="Ekle"><i class="fa fa-plus "></i>  Ekle</button>
        <button style="display: none" class="btn btn-warning" id="Iptal"><i class="fa fa-plus "></i>  İptal</button>
    </div>
</div>
<div class="row" id="duzenlemeForm" hidden="hidden">
    <div class="col-md-12 panel panel-default">
        <div class="panel-heading">
            Rol Duzenleme
        </div>
        <form role="form" class="panel panel-body">
            <div class="form-group">
                <label>Rol Id</label>
                <input id="roleId" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label>Rol Ad</label>
                @Html.ValidationMessage("Data is not invalid")
                <input id="roleAd" class="form-control">
            </div>
            <div style="text-align: right">
                <button type="button" id="FormGuncelle" class="btn btn-primary ">Guncelle</button>
                <button type="reset" class="btn btn-danger">Temizle</button>
            </div>
        </form>
    </div>
</div>
