﻿@using System.Web.Script.Services
@using Eczane.BL.Entities
@using Eczane.BL.Manage
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    @*<link href="~/Areas/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Areas/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <link href="~/Areas/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
        <link href="~/Areas/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Areas/assets/css/custom-styles.css" rel="stylesheet" />*@
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="~/Areas/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    @*  <link href="~/assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css" rel="stylesheet" />*@

    <link href="~/assets/css/custom-styles.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    @* <a href="~/assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css.map">~/assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css.map</a>*@
    @*<script src="~/Areas/assets/js/jquery-1.10.2.js"></script>
        <script src="~/Areas/assets/js/bootstrap.min.js"></script>
        <script src="~/Areas/assets/js/custom-scripts.js"></script>
        <script src="~/Areas/assets/js/custom.js"></script>
        <script src="~/Areas/assets/js/jquery.metisMenu.js"></script>
        <script src="~/Areas/assets/js/morris/morris.js"></script>
        <script src="~/Areas/assets/js/morris/raphael-2.1.0.min.js"></script>
        <script src="~/Areas/assets/js/dataTables/jquery.dataTables.js"></script>
        <script src="~/Areas/assets/js/dataTables/dataTables.bootstrap.js"></script>*@



    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <script src="~/assets/jquery-3.2.1.min.js"></script>
    @*<script src="~/assets/bootstrap-3.3.7-dist/js/bootstrap.js"></script>*@
    <script src="~/assets/js/bootstrap.min.js"></script>
    @*<script src="~/assets/bootstrap-3.3.7-dist/js/bootstrap.js"></script>*@
    <script src="~/assets/js/jquery.metisMenu.js"></script>


    <script src="~/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/assets/js/morris/morris.js"></script>

    @*<script src="~/assets/js/custom.js"></script>*@
    <script src="~/Areas/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/Areas/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/assets/js/custom-scripts.js"></script>

    <script src="~/assets/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.tr.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Eczacilar</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                @*  <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>John Doe</strong>
                                        <span class="pull-right text-muted">
                                            <em>Today</em>
                                        </span>
                                    </div>
                                    <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Read All Messages</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                *@
                <!-- /.dropdown -->
                @*
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks">
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 1</strong>
                                            <span class="pull-right text-muted">60% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 2</strong>
                                            <span class="pull-right text-muted">28% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                                <span class="sr-only">28% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 3</strong>
                                            <span class="pull-right text-muted">60% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 4</strong>
                                            <span class="pull-right text-muted">85% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                                <span class="sr-only">85% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Tasks</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                *@
                <!-- /.dropdown -->
                @*
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 min</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                *@
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Index","KisiBilgileri",new {area="User"})"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOut","Account",new {area=""})"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    @{
                        var ctx = new EczaneDbContext();
                        var userid = Convert.ToInt32(User.Identity.GetUserId());
                    }
                    @if (ctx.Role.Any(x => x.Name == "Admin" && x.Users.Any(p => p.UserId == userid)))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Rol_Islem", new {Area = "Admin"})"><i class="fa fa-tasks"> Admin</i> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "EczaciKalfa", new {Area = "Admin"})"><i class="fa fa-list"> Kalfa İsteleri</i></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Rol_Islem", new {Area = "Admin"})"><i class="fa fa-settings"> Role İşlemleri</i></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("KullaniciyaRolAta", "Rol_Islem", new {Area = "Admin"})"><i class="fa fa-refresh"> Role Atama İşlemleri</i></a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (ctx.Role.Any(x => (x.Name == "Eczaci" && x.Users.Any(p => p.UserId == userid)) || ctx.User.Any(z=> z.Id==userid && z.Roles.Any(d=> d.Id==1))))
                    {
                        <li>
                            <a href="@Url.Action("Index", "EczaciIslem", new {Area = "Eczaci"})"><i class="fa fa-tasks"> Eczaci İşlem</i> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("EczaciIndex", "EczaciIslem", new {Area = "Eczaci"})"><i class="fa fa-refresh"></i> Anasayfa</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EczaciBilgileri", "EczaciIslem", new {Area = "Eczaci"})"><i class="fa fa-info"></i> Eczaci Bilgileri</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "EczaciIslem", new {Area = "Eczaci"})"><i class="fa fa-settings"></i> Kalfa Arama</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (ctx.Role.Any(x => (x.Name == "Kalfa Eczaci" && x.Users.Any(p => p.UserId == userid)) || ctx.User.Any(z => z.Id == userid && z.Roles.Any(d => d.Id == 1))))
                    {
                        <li>
                            <a href=""><i class="fa fa-tasks"> Kalfa Eczaci İşlem</i> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "KalfaEczaciIslem", new {Area = "KalfaEczaci"})"><i class="fa fa-settings"></i> Kalfa Bilgileri</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @*<li>
                            <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
</body>
</html>