﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom-styles.css" rel="stylesheet" />

    @*<link href="~/assets/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/assets/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />*@
   
  
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    @*<script src="~/assets/jquery-3.2.1.min.js"></script>*@
    @*<script src="~/assets/bootstrap-3.3.7-dist/js/bootstrap.js"></script>*@
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <script src="~/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/assets/js/morris/morris.js"></script>   
    <script src="~/assets/js/custom-scripts.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
